.header-wrapper .nav-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	padding: 0;
	margin: 0;
}

.header-wrapper .nav-list li {
	color: #ffbe76;
	list-style: none;
	margin-right: 10px;
}

.header-wrapper .nav-list li a {
	color: #ffbe76;
	text-decoration: none;
}

.dead-link {
	display: block;
	padding: 0.5rem;
	color: rgba(0, 0, 0, 0.5);
}
