.mosque-details-wrapper .mosque-thumbnail-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
}
.mosque-details-wrapper .mosque-details-content {
	padding: 15px 0;
}

.mosque-details-wrapper .mosque-details-content h1 {
	font-size: 30px;
	text-align: center;
}

.mosque-details-wrapper .mosque-details-content > div {
	margin-bottom: 10px;
}

.custom-accordion-trigger {
	padding: 0 !important;
	background-color: transparent !important;
	color: #000 !important;
	border-color: transparent !important;
}

.icon-wrapper {
	display: inline-block;
	margin-left: 10px;
}

.icon-wrapper svg {
	transform: rotate(0deg);
	transition: all 0.3s ease;
}

.icon-wrapper.active svg {
	transform: rotate(180deg);
}

.facilities-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.facilities-list .facility-option {
	margin-right: 15px;
	text-align: center;
}

.facilities-list .facility-option img {
	max-height: 64px;
	max-width: 64px;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	.facilities-list {
		justify-content: center;
	}
}
