.mosque-list-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.mosque-list-container a {
	text-decoration: none;
}

.filter-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
