.mosque-list-card-wrapper {
    padding: 0.5rem;
    height: 10rem;
}

.mosque-list-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
}

.mosque-list-card .mosque-thumbnail-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.mosque-thumbnail-wrapper img {
    object-fit: cover;
}

.mosque-details-wrapper {
    z-index: 10;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.mosque-details-wrapper .mosque-details {
    color: #fff;
}