.mosque-list-card-wrapper {
	padding: 0.5rem;
	height: 10rem;
	transition: all 0.6s ease-in-out;
}

.mosque-list-card-wrapper.active {
	padding: 0;
}

.mosque-list-card-wrapper .mosque-list-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	height: 100%;
	position: relative;
	align-items: center;
	border-radius: 1rem;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	background: #98332d;
	transition: all 0.3s ease;
	border: 1px solid #ffffff;
}

.mosque-list-card-wrapper .mosque-list-card:hover {
	background-color: #ef841f;
	border: 1px solid #000000;
}

.mosque-list-card-wrapper .mosque-list-card:hover .mosque-details {
	color: #000000;
}

.mosque-list-card-wrapper .mosque-list-card .mosque-thumbnail-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.mosque-list-card-wrapper .mosque-list-card .mosque-thumbnail-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}

.mosque-list-card-wrapper .mosque-details-wrapper {
	z-index: 10;
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.mosque-list-card-wrapper .mosque-details-wrapper .mosque-details {
	color: #fff;
	text-align: center;
}

.mosque-list-card-link {
	text-decoration: none;
}

.mosque-list-card-link:hover {
	text-decoration: none;
}
